* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: Roboto;
}

.container {
    display: flex;
    overflow-y: auto;
}
.errorString {
    color: red;
    font-size: 1.6rem;
    font-weight: bold;
}