.list_container {
    width: 85%;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.list_container .heading {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_container .button {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_container .heading h3 {
    font-size: 3rem;
    font-weight: bold;
}

.list_container table {
    border: solid .1rem gray;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
}
.list_container table th {
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: bold;
    color: black;
    border: black solid .1rem;
    text-align: center;
}
.list_container table td {
    font-size: 1.5rem;
    padding: 1rem;
    border: solid .1rem gray;
    text-align: center;
}
.list_container table td a {
    font-size: 1.5rem;
    color: red;
    text-decoration: none;
}
.list_container table td a.edit-btn {
    color: blue;
}

.list_container .button a{
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    background: blue;
    padding: 1rem 2rem;
    border-radius: .5rem;
    text-decoration: none;
    transition: .2s;
}
.list_container .button a:hover {
    transform: scale(1.05);
}